@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root {
  --primary-color: #FBBF24;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.app {
  background-color: var(--primary-color);
  text-align: center;
  max-width: 500px;
  margin: auto;
}